.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  padding-right: 20px;
  font-weight: 500;
}

.wd-modules > li {
  background-color: #F5F5F5;
  border: 1px solid lightgray !important;
  /* border-left: none !important; */
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-button-container {
    display: flex;
    align-items: center;
}

.wd-button-style {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: #F5F5F5;
    border-color: lightgrey;
    color: black;
    height: 35px;
    box-shadow: none !important;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}

.wd-buttons {
  margin-right: 20px
}




